.multiselect-container {

}

.list-box-container { 
  display: flex;
}

.items-to-choose { 
  width: 300px;
  height: 125px;
}

.items-chosen { 
  padding-left: 15px;
  width: 145px;
  height: auto;
}

.item-to-choose, .item-chosen {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.search-item {
  width: 287px;
}

.add-item {
  
}

.add-item, .remove-item {
  cursor: pointer;
  height: 23px;
}
