.items-to-choose 
{ 
  width: 370px;
  height: 100px;
}

.items-chosen 
{ 
  width: 370px;
  height: 66px;
}

.item-to-choose, .item-chosen 
{
  width: 36px;
  height: 36px;
  margin-right: 20px;
}

.d-flex
{
  padding-bottom: 8px;
}

.search-item 
{
  width: 200px;
  height: 30px;
}

.add-item, .remove-item 
{
  cursor: pointer;
  height: 23px;
  width: 14px;
}

.mt-3
{
  padding-top: 6px;
}
