:root 
{
  --ib-grey: #f1f3f5f5; 
  --ib-grey2: #f6f7f8f8; 
  --ib-orange: #e2a64bef;
  --ib-orange2: #eca50cea;
  --ib-black: #000000; 
  --ib-blue: #4b8dcfda;
  --ib-blue2: #4586c7c2;
}

body,
html
{
  margin: 0;
  padding: 0;
}

.--ib-header-container
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-top: 4vh;
  margin-left: 10.95%;
  height: 72px;
  width: 78.05%;
  border-top: 0.5px outset var(--ib-black);
  border-right: 0.5px outset var(--ib-black);
}

.--ib-header-section
{
  background-color: var(--ib-grey);
  background-image :linear-gradient(315deg, var(--ib-grey) 20%, var(--ib-grey2) 74%);
  box-shadow: 1.5em 0.5em -1em rgba(0, 0, 0, 0.25);
  border-left: 0.5px outset var(--ib-black);
  margin-left: -0.5px;
}

.--ib-turn 
{
  width: 25%;
}

.--ib-task 
{
  width: 50%;
}

.--ib-score
{
  width: 25%;
}

.--ib-header-section-header
{
  color: white;
  background-color: var(--ib-blue2);
  background-image :linear-gradient(315deg, var(--ib-blue2) 20%, var(--ib-blue) 74%);
  text-align: center;
  padding: 6px 16px;
  height: 1.7rem;
  padding-top: 13px;
  text-shadow: 1px 1px var(--ib-black);
}

h3 
{
  line-height: 1rem;
  font-size: 0.95rem;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  margin:0;
  margin-top: -8px;
}

.--ib-header-section-content 
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2px 8px;
  height: 3rem;
  line-height: 1rem;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 0px var(--opt-black);
}

.--ib-current-player
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.--ib-arrow-img
{
  height: 17px;
  width: 17px;
}

.--ib-player-text 
{
  font-size: 15px;
  padding-left: 7px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.--ib-target-city 
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.--ib-city-img
{
  height: 28px;
  width: 28px;
  padding-top: 1px;
}

.--ib-city-text
{
  font-size: 17px;
  padding-left: 7px;
  margin-top: 12px;
}

.--ib-target-population
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.--ib-population-img
{
  height: 32px;
  width: 32px;
  padding-top: 2px;
}

.--ib-population-text
{
  font-size: 17px;
  padding-left: 6px;
  margin-top: 12px;
}

.--ib-winning
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.--ib-winning-img
{
  height: 24px;
  width: 24px;
}

.--ib-winning-player
{
  font-size: 15px;
  padding-left: 7px;
  letter-spacing: 0.5px;
  margin-top: 12px;
}

.--ib-scoreboard
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.--ib-scoreboard-img
{
  height: 24px;
  width: 24px;
}

.--ib-score-text
{
  font-size: 17px;
  padding-left: 7px;
  margin-top: 14px;
}