:root 
{
  --fi-blue: #5999d8;
	--fi-blue2: #3473b3; 
  --fi-blue3: #3f7fc0;
  --fi-white: #fcfcfcef;
  --fi-grey: #e2ded4ea;
  --fi-grey2: #e7e5dde1;
	--fi-black: #000000; 
  --fi-black2: #413838a1; 
	--fi-orange: #e67d2280;
  --fi-orange2: #e67d22b6;
  --fi-yellow: #ffe60081; 
}

*
{
  margin: 0;
  padding: 0;
}

.--fi-container
{
	width: 460px;
	height: 512px;
	background-color: var(--fi-white);
  background-image: linear-gradient(315deg, var(--fi-white) 20%, var(--fi-grey) 74%);
  background-color: black;
	border-radius: 4px;
	border: 1px solid var(--fi-black);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.--fi-header
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  height: 36px;
  width: 100%;
  background-image :linear-gradient(315deg, var(--fi-blue3) 30%, var(--fi-blue2) 74%);
  border-bottom: 1px solid var(--fi-black);
  margin-bottom: 14px;
}

.--fi-header h2 
{
  padding-top: 8px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: var(--fi-white);
  text-shadow: 1px 1px var(--fi-black);
}

.--fi-empty-space
{
  font-size: 30px;
  padding: 0;
  visibility: hidden;
}

.--fi-header-text
{
  padding: 0 31%;
}

.close-page 
{
  font-size: 28px;
  padding: 0;
  cursor: pointer;
  margin-top: -10px;
}

.--fi-content 
{
  padding-top: 10px;
}

.filter-population-container
{
  padding-bottom: 28px;
}

.filter-state-container
{
  padding-bottom: 18px;
}

.--fi-content h6
{
  font-size: 14.5px;
  font-weight: 600;
}

.population-input
{
  width: 100px;
  padding: 1px;
}

.set-filter 
{
  margin-top: 24px;
  padding: 2px 2px;
  width: 112px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--fi-blue2);
  border: 0;
  color: #FFFFFF;
  font-size: 15px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--fi-black);
  text-shadow: 1px 1px var(--fi-black);
}

.set-filter:hover
{
  background-color: var(--fi-blue3);
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}