:root 
{
  --bo-orangegrey: #f1e6c8; 
}

html,
body 
{
  height: 100%;
}

.--tt-popup 
{
  position: absolute;
  top: 38%;
  left: 50%;
  width: 320px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.--tt-popup-content 
{
  background-color: var(--bo-orangegrey);
  padding: 9px;
  box-sizing: border-box;
  border: 1px solid rgb(158, 129, 129);
  border-radius: 10px 1px 10px 1px;
}

.--tt-popup-text 
{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15.5px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
  word-spacing: 1px;
}

.--tt-turn-one b
{
  color: seagreen;
  font-weight: bold; 
  letter-spacing: 0.5px;
}

.--tt-turn-two b
{
  color: crimson;
  font-weight: bold;
  letter-spacing: 0.5px;
}
