:root 
{
  --opt-blue: #5999d8;
	--opt-blue2: #4488cc;
	--opt-blue3: #3473b3; 
	--opt-blue4: #4099FF;
	--opt-blue5: #3b5998;
  --opt-blue6: #3f7fc0;
  --opt-white: #f5f1eeef;
  --opt-white2: #ffffff;
  --opt-grey: #e2ded4ea;
	--opt-black: #000000; 
	--opt-orange: #e67d2280;
  --opt-orange2: #e67d22b6;
}

*
{
  margin: 0;
  padding: 0;
}

.--opt-options
{
  display: flex;
  flex-direction: column;
	align-items: center;
  justify-content: space-between;
	width: 482px;
	height: 550px;
	background-color: var(--opt-white);
  background-image :linear-gradient(315deg, var(--opt-white) 20%, var(--opt-grey) 74%);
	border-radius: 4px;
	border: 1px solid var(--opt-black);
  position: absolute;
  top: 54%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.--opt-header-content
{
  background-image :linear-gradient(315deg, var(--opt-blue6) 30%, var(--opt-blue3) 74%);
  width: 100%;
  border-bottom: 1px solid var(--opt-black);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.--opt-empty-space
{
  font-size: 30px;
  padding: 0;
  visibility: hidden;
}

.--opt-header-text
{
  padding: 0 27%;
}

.--opt-header-content h2 
{
  padding-top: 12px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: var(--opt-white);
  text-shadow: 1px 1px var(--opt-black);
}

.close-page 
{
  font-size: 28px;
  padding: 0;
  cursor: pointer;
  padding-top: -10px;
}

.--opt-header-content img 
{
  height: 26px;
  width: 26px;
}

.--opt-content 
{
  padding-top: 3px;
  width: 82%;
  margin-left: auto;
}

.--opt-empty-content 
{
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.--opt-mode-content 
{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.--opt-content h4 
{
  width: 28%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;

}

.--opt-mode-icon-group 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 70%;
}

.--opt-mode-content img 
{
  margin-right: 57px;
  cursor: pointer;
}

.--opt-outcast-img
{
  height: 30px;
  width: 30px;
}

.--opt-select-img
{
  border-bottom: 2px solid var(--opt-blue5);
  padding-bottom: 5px;
  height: 35px;
  width: 30px;
}

.--opt-player-one-content
{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.--opt-player-textfield 
{
  font-size: 17px;
  width: 200px;
  padding: 2px 5px;;
}

.--opt-player-two-content
{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.--opt-difficulty-content
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 40px;
}

.--opt-hosting-content
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 40px;
  visibility: hidden;
}

.--opt-diff-radio-label
{
  padding-right: 17px;
  padding-left: 3px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 0px var(--opt-black);
}

.--opt-host-radio-label
{
  padding-right: 17px;
  padding-left: 3px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 0px var(--opt-black);
}

.--opt-create-game-radio
{
  margin-top: -4px;
}

.--opt-slider-content
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.--opt-slider 
{
  width: 160px;
}

.--opt-slider-value
{
  font-size: 12px;
  font-weight: 700;
  color: var(--opt-white2);
  background-color: var(--opt-blue5);
  border: 1px solid var(--opt-black);
  text-shadow: 1px 1px var(--opt-black);
  font-family: "Roboto", sans-serif;
  padding: 4px;
  border-radius: 25%;
  letter-spacing: 1px;
  margin-left: 6px;
  width: 30px;
  text-align: center;
}

.--opt-city-range-content
{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.--opt-spawn-count-content
{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.--opt-max-score-content
{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.--opt-submit-btn
{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--opt-blue2);
  width: 100%;
  border: 0;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 36px;
  height: 40px;
  width: 300px;
  border: 1px solid var(--opt-black);
  text-shadow: 1px 1px var(--opt-black);
  margin-bottom: 20px;
}

.--opt-submit-btn:hover 
{
  background-color: var(--opt-blue3);
  -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}
