.countdown-item 
{
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  line-height: 14px;
  padding-top: 4px;
  padding-left: 1px;
	position: relative;
	width: 46px;
	height: 46px;
}

.countdown-item span 
{
	font-size: 9px;
	text-transform: uppercase;
}

.countdown-svg 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 46px;
	height: 46px;
}