:root 
{
  --ib-grey: #f1f3f5f5; 
  --ib-grey2: #f6f7f8f8; 
  --ib-orange: #e2a64bef;
  --ib-orange2: #eca50cea;
  --ib-black: #000000; 
}

.header-container
{
  display: flex;
  height: 60px;
  margin-top: 60px;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.header-section
{
  background-color: var(--ib-grey);
  background-image :linear-gradient(315deg, var(--ib-grey) 0%, var(--ib-grey2) 74%);
  box-shadow: 1.5em 0.5em -1em rgba(0, 0, 0, 0.25);
  border-left: 0.5px outset var(--ib-black);
}

.turn 
{
  width: 25%;
}

.task 
{
  width: 50%;
}

.score
{
  width: 25%;
}

.header-section-header
{
  color: white;
  background-color: var(--ib-orange);
  background-image :linear-gradient(315deg, var(--ib-orange) 0%, var(--ib-orange2) 74%);
  text-align: center;
  padding: 6px 16px;
  height: 0.7rem;
}

h3 
{
  line-height: 0.7rem;
  font-size: 0.95rem;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
}

.header-section-content 
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2px 8px;
  height: 2.8rem;
  line-height: 1rem;
  white-space: nowrap;
}

.current-player
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow-img
{
  height: 16px;
  width: 16px;
}

.player-text 
{
  font-size: 15px;
  padding-left: 6px;
}

.target-city 
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.city-img
{
  height: 28px;
  width: 28px;
  padding-top: 1px;
}

.city-text
{
  font-size: 17px;
  padding-left: 7px;
}

.target-population
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.population-img
{
  height: 32px;
  width: 32px;
  padding-top: 2px;
}

.population-text
{
  font-size: 17px;
  padding-left: 6px;
}

.winning
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.winning-img
{
  height: 24px;
  width: 24px;
}

.winning-player
{
  font-size: 15px;
  padding-left: 6px;
}

.scoreboard
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scoreboard-img
{
  height: 24px;
  width: 24px;
}

.score-text
{
  font-size: 17px;
  padding-left: 6px;
}