:root 
{
  --win-blue: #5999d8;
	--win-blue2: #4488cc;
	--win-blue3: #3473b3; 
	--win-blue4: #4099FF;
	--win-blue5: #3b5998;
  --win-white: #f5f1eeef;
  --win-grey: #e2ded4ea;
	--win-black: #111111; 
	--win-orange: #e67e22;
}

.--win-modal-overlay 
{
	display: block;
	background: rgba(0,0,0,.3);
	position: fixed;
	width: 100%;
	height: 100%;
}

.--win-modal 
{
	display: flex;
  flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	background-color: var(--win-white);
  background-image :linear-gradient(315deg, var(--win-white) 0%, var(--win-grey) 74%);
	top: 45%;
	transform: translateY(-50%);
	padding: 20px;
	border-radius: 4px;
	border: 1px solid var(--win-orange);
}

.--win-winner 
{
	font-family: serif;
	display: block;
	width: 100%;
	text-align: center;
	line-height: 0.1;
	padding-top: 8px;
}

.--win-winner:after
{
  display: block;
  height: 2px;
  background-color: var(--win-orange);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.--win-trophy
{
	display: block;
	padding-top: 6px;
	height: 56px;
	width: 56px;
}

.--win-final-score
{
	display: block;
	font-size: 20px;
	padding-top: 5px;
}

.--win-restart 
{
	display: block;
	margin-top: 34px;
	padding: 15px 22.5px;
	font-size: 18px;
	border: none;
	background: var(--win-blue);
	background: linear-gradient(var(--win-blue), var(--win-blue2));
	border: 1px solid #222;
	border-radius: 6px;
	color: white;
	text-shadow: 0px 1px 0 black;
	cursor: pointer;
}

.--win-restart:hover 
{
  background: linear-gradient(var(--win-blue2), var(--win-blue3));
}

.--win-share-text 
{
	display: block;
	line-height: 0.1;
	padding-top: 15px;
}

.--win-social 
{
	display: flex;
	flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
	list-style: none;
	width: 30%;
}

.--win-share-facebook:hover 
{
  background: lighten(var(--win-blue5), 10%);
}

.--win-share-facebook img
{
	height: 30px;
	width: 30px;
}

.--win-share-twitter:hover 
{
  background: lighten(var(--win-blue4), 10%);
}

.--win-share-twitter img
{
	height: 30px;
	width: 30px;
}